* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

/* VARIABLES */

:root {
    --header-height: 5rem;

    /* COLOR */
    --base-color: #EEEDE7;
    --navy-blue: #05445E;
    --blue-grotto: #189AB4;
    --blue-green: #75E6DA;
    --baby-blue: #D4F1F4;

}

/* BASE */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--base-color);
    font: 400 1rem "DM Sans", sans-serif;
}

/* CLASS */

.container {
    margin: 0 1.5rem;
}

.toggle {
    color: var(--baby-blue);
    font-size: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.title {
    font: 700 1.875rem "Poppins", sans-serif;
}

.sub-title {
    font: 700 1rem "Poppins", sans-serif;
}

.button {
    padding: 1rem;
    background-color: var(--blue-grotto);
    border-radius: 0.5rem;
    width: fit-content;
    color: var(--baby-blue);
    font: 500 1.1rem "DM Sans", sans-serif;
    transition: background 0.5s;
    transition: color 0.5s;
}

.button:hover{
    background-color: var(--blue-green);
    color: var(--navy-blue);
}

.divider {
    height: 3px;
    background-color: var(--blue-grotto);
}

.section {
    padding: 1rem 0;
}

.section .title {
    margin-bottom: 1rem;
}

.text {
    text-align: center;
    font-size: larger;
}

.list-text {
    font: 500 1.3rem "DM Sans", sans-serif
}

.pet {
    cursor: pointer;
}

/* LOGO */

.logo span {
    color: var(--blue-green);
}

strong {
    font-weight: bold;
}

/* DOG DIVIDER */

#dog-divider {
    width: 14rem;
    z-index: 90;
    position: relative;
    bottom: -1.4rem;
}

.dog-divider {
    display: flex;
    justify-content: center;
}

/* HEADER */

#header {
    border-bottom: 3px solid #189AB4;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    background-color: var(--navy-blue);
    /* margin-bottom: 3rem; */
}

/* NAVIGATION */

nav {
    width: 100%;
    height: var(--header-height);
    align-items: center;
    display: flex;
    justify-content: center;
}

nav .title {
    color: var(--baby-blue);
}

/* HOME */
#home {
    overflow: hidden;
}

#home img {
    box-shadow: 0.25rem 0.25rem 5px  1px var(--navy-blue);
}

#home .aux {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#home h2 {
    margin-bottom: 1rem;
}

/* ABOUT */

#about {
    background-color: white;
    padding-top: 2rem;
}

#about .logo span {
    color: var(--blue-grotto)    
}

#about img {
    width: 10rem;
    margin-top: 2rem;
}

/* ADOPT */

#adopt {
    padding: 1rem;
}

#adopt .swiper-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#adopt .swiper-slide {
    display: grid;
    place-content: center;
}

#adopt img {
    width: 17rem;
    border-radius: 0.5rem;
}

#adopt .swiper-button-prev,
#adopt .swiper-button-next {
    opacity: 0;
    visibility: hidden;
}

/* CONTACT */

#contact {
    background-color: white;
}

#contact .aux{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* FOOTER */

footer {
    width: 100%;
    padding: 1rem;
    height: fit-content;
    background-color: var(--navy-blue);
    
}

footer .foto-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .foto-logo img {
    width: 5rem;
}

footer .text {
    margin-bottom: 1.5rem;
}
footer .text a{
    color: var(--baby-blue);
}
footer .text p {
    color: var(--base-color);
}

footer .principal {
    justify-content: center;
}

footer .principal h2 {
    color: var(--baby-blue);
    margin-bottom: 0.5rem;
}

footer .aux {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

footer i {
    font-size: 1.5rem;
    color: var(--baby-blue);
    transition: 0.3s;
}

footer .socials {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 2rem;
    margin-bottom: 1rem;
}

footer .socials a {
    transition: 0.3s;
    display: inline-block;
}

footer .socials a:hover {
    transform: translateY(-8px);
}

@media(min-width: 1024px) {

    /* class */
    .container {
        width: 940px;
        margin: 0 auto;
    }

    /* HOME */
    #home .container{
        display: flex;
        align-items: center;
    }

    #home img {
        width: 35rem;
    }
    
    /* ADOPT */

    #adopt img {
        width: 20rem;
    }

    #adopt .swiper-button-prev,
    #adopt .swiper-button-next {
        opacity: 1;
        visibility: visible;
    }

    /* FOOTER */

    footer .foto-logo img{
        width: 8rem;
    }

}

@media (min-width:768px) {
    
    #home .container{
        display: flex;
        align-items: center;
    }

    #home img {
        width: 23rem;
    }
}